<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Development of low cost education robot and materials</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">The proposed system will be used to teach a wide range of robotics topics, such as forward/inverse kinematics, Jacobian and velocity kinematics, closed loop control, motion planning and obstacle avoidance.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>