<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
        </div>
        <div>
          <h2>Feature 1</h2>
          <p>Development of the inexpensive two-link Robotic arm.</p>
          <a href="#" class="btn btn-primary">
            Click Here
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
        </div>
        <div>
          <h2>Feature 2</h2>
          <p>Manufacturing the physical arm using Arduino mega 2560.</p>
          <a href="#" class="btn btn-primary">
            Click Here
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
        </div>
        <div>
          <h2>Feature 3</h2>
          <p>Simulating the arm in an AR visual interface to reflect its functionality.</p>
          <a href="#" class="btn btn-primary">
            Click Here
          </a>
        </div>
      </div>
    </div>
  </div>
