<div class="container border border-info rounded" style="padding:20px; border-width:10px">
    <h2>Please enter starting values</h2>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="X coordinate" aria-label="Username">
        <input type="text" class="form-control" placeholder="Y coordinate" aria-label="Server">
        <span class="input-group-text">and</span>
        <input type="text" class="form-control" placeholder="Proportional" aria-label="Username">
        <input type="text" class="form-control" placeholder="Integral" aria-label="Server">
        <input type="text" class="form-control" placeholder="Derivative" aria-label="Username">
    </div>
    <h2>Please enter ending values</h2>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="X coordinate" aria-label="Username">
        <input type="text" class="form-control" placeholder="Y coordinate" aria-label="Server">
        <span class="input-group-text">and</span>
        <input type="text" class="form-control" placeholder="Proportional" aria-label="Username">
        <input type="text" class="form-control" placeholder="Integral" aria-label="Server">
        <input type="text" class="form-control" placeholder="Derivative" aria-label="Username">
    </div>

    <div class="btn-group btn-group-lg" role="group" aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger">Get input Values</button>
        <button type="button" class="btn btn-warning">Send</button>
        <button type="button" class="btn btn-success">Simulate</button>
    </div>
</div>