<html class="no-js" lang="en">
{% include "header.html" %}

<body>
  {% block body %} {% include "navigation.html" %}
  <div class="container">
    {% include "form2.html" %}
    {% include "plotly.html" %}
    {% include "form.html" %}
    {% include "output.html" %}
    {% include "carousel.html" %}
    {%include "getstarted.html" %}


  </div>
  {% include "features.html" %}
  {% include "jumbotron.html" %}


  {% include "darkhero.html" %}
  {% endblock %}
  
</body>


{% include "footer.html" %}


</html>