<html class="no-js" lang="en">
{% include "header.html" %}

<body>
  {% block body %} {% include "navigation.html" %}
  <div class="container">
    {%include "getstarted.html" %}

  </div>
  {% include "features.html" %}
  {% include "carousel.html" %}
  {% include "jumbotron.html" %}


  {% include "darkhero.html" %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>


{% include "footer.html" %}


</html>