<html class="no-js" lang="en">
{% include "core/header.html" %}

<body>
  {% block body %} {% include "core/navigation.html" %}
  <div class="container">
    {% include "form2.html" %}
    {% include "plotly.html" %}
    {% include "form.html" %}
    {% include "output.html" %}
    {% include "carousel.html" %}
    {%include "core/getstarted.html" %}


  </div>
  {% include "core/features.html" %}
  {% include "core/jumbotron.html" %}


  {% include "core/darkhero.html" %}
  {% endblock %}
  
</body>


{% include "core/footer.html" %}


</html>